.about {
    padding: 80px;
    background-color: #fff;
    width: 100%; 
    box-sizing: border-box; 
}

.about-content {
    max-width: 1200px; 
    margin: 0 auto;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-wrap: wrap; 
}

.about-image img {
    width: 30%; 
    height: auto;
    margin-right: 20px;
}

.about-text {
    flex: 1;
    text-align: left; 
    max-width: 600px; 
}

.about-content h2 {
    color: #1496E4;
    font-size: 36px;
    margin-bottom: 20px;
}

.about-content p {
    color: #333;
    font-size: 18px;
    line-height: 1.5;
}
