/* Login.css */

.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

    .login-container h2 {
        margin-bottom: 20px;
        color: #1496e4; /* MediSyncRx blue */
    }

.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        display: block;
        margin-bottom: 5px;
        color: #1496e4; /* MediSyncRx blue */
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #1496e4; /* MediSyncRx blue */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
        background-color: #007bb6; /* Darker shade of MediSyncRx blue */
    }

/* Additional styles for the link to register */
.login-container p {
    margin-top: 20px;
    font-size: 14px;
}

    .login-container p a {
        color: #1496e4; /* MediSyncRx blue */
        text-decoration: none;
    }

        .login-container p a:hover {
            text-decoration: underline;
        }
