/

.login {
    padding: 80px;
    background-color: #fff; 
    width: 100%;
    box-sizing: border-box;
}

.login-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.about-image {
    width: 40%;
    margin-right: 40px;
}

    .about-image img {
        width: 100%;
        border-radius: 10px;
    }

.login-form {
    width: 50%;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 

    .login-form h2 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #1496E4;
    }

.login-content .login-description {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: Arial, sans-serif; 
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

    .form-group label {
        display: inline-block; 
        font-size: 18px;
        margin-right: 10px; 
        vertical-align: middle; 
    }

    .form-group input[type="checkbox"] {
        display: inline-block; 
        margin-top: 10px;
        vertical-align: middle; 
    }



.error {
    color: #ff0000; 
    margin-top: 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #1496E4; 
    color: #fff;
    border: none;
    padding: 15px 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    button[type="submit"]:hover {
        background-color: #0073e6; 
    }
